---
import Hr from "@/shared/components/Hr.astro";

// 하위 컴포넌트 import
import SkipToContent from "./Header/SkipToContent.astro";
import SiteTitle from "./Header/SiteTitle.astro";
import Navigation from "./Header/Navigation.astro";
---

<header>
  <SkipToContent />
  <div class="mx-auto flex max-w-app flex-col items-center justify-between sm:flex-row">
    <div class="relative flex w-full items-baseline justify-between bg-background p-4 sm:items-center sm:py-6">
      <SiteTitle />
      <Navigation />
    </div>
  </div>
  <Hr />
</header>
