@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 15px;
  transition: all 0.2s;
  opacity: 0;
  border-radius: 4px;
  word-break: keep-all;
  transform: scale(0.98);
  p {
    font-size: 90%;
    line-height: 1.4;
  }
}

.thumbnail.visible {
  opacity: 1;
}
