---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import SeriesItem from "@/features/series/components/SeriesItem.astro";
import Header from "@/layouts/components/Header.astro";
import Footer from "@/layouts/components/Footer.astro";
import getUniqueSeries from "@/utils/getUniqueSeries";
import { SITE } from "@/config";

const posts = await getCollection("blog");
const seriesList = getUniqueSeries(posts);
---

<Layout title={`Series | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Series" pageDesc="시리즈로 묶인 연재 글 모음입니다.">
    <ul>
      {
        seriesList.map(({ series, seriesName, count }) => (
          <SeriesItem {series} {seriesName} {count} size="lg" />
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
