@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar customize */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #8f8a8c;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
