---
import { Icon } from "astro-icon/components";

export interface Props {
  series: string;
  seriesName: string;
  count: number;
  size?: "sm" | "lg";
}

const { series, seriesName, count, size = "sm" } = Astro.props;
---

<li
  class:list={[
    "group inline-block group-hover:cursor-pointer",
    size === "sm" ? "my-1 underline-offset-4" : "mx-1 my-3 underline-offset-8",
  ]}
>
  <a
    href={`/series/${series}/`}
    transition:name={`series-${series}`}
    class:list={[
      "relative inline-flex items-center gap-1 pe-2 text-lg underline decoration-dashed group-hover:-top-0.5 group-hover:text-accent focus-visible:p-1 focus-visible:no-underline",
      { "text-sm": size === "sm" },
    ]}
  >
    <Icon name="ph:list-numbers" class:list={[size === "sm" ? "size-4" : "size-5"]} />
    <span>{seriesName}</span>
    <sup class="text-xs opacity-60">({count})</sup>
  </a>
</li>
